<% if @user.business_owner == true %>
	<%= render 'layouts/businessnav' %>
	YOU ARE A BUSINESS OWNER! HOORAY
<%= link_to "Add a Deal", deal_new_path %>

<% @user.deals.each do |d| %>
<div class="deals-container">
	<%= d.name %>
</div>
<% end %>
<% else %>
	<p> Sorry, you must be a business owner in order to view this page. Click here to change your user settings.</p>
<% end %>