<!DOCTYPE html>
<HTML>
<BODY>
Click Show location button and run :)
<input type="button" value="Show Location" onclick="showlocation()"/> 
 
<br/>
Latitudeee: <span id="latitude">..</span> <br>
Longitudeee: <span id="longitude">..</span>
</BODY>
 
<SCRIPT>
function showlocation(){
    navigator.geolocation.watchPosition(callback);
}
function callback(position){
    document.getElementById('latitude').innerHTML=position.coords.latitude;
    document.getElementById('longitude').innerHTML=position.coords.longitude;
}
</SCRIPT>
</HTML>