// Place all the styles related to the businesses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#newBizEncasing {
	text-align: center !important;
}

#businessMap {
	height: 360px;
	width: 620px;
	border: 3px solid black;
	margin: auto;
}

#newBizHeading {
	margin-top: 20px;
	font-size: 28px;
}

#newBizInput {
	height: 42px;
	width: 93px;
	border-radius: 4px;
	font-size: 12px;
}

.newBizFields {
	font-size: 18px;
}

#TOS {
	text-decoration: underline;
}

.deal-info-contain {
	border-left: 5px solid black;
	border-right: 5px solid black;
	border-radius: 5px;
	text-align: center;
	height: 400px;
	margin-bottom: 25px;
	position: relative;
	margin-left: 17%;
}

.delete-deal-link {
	color: blue;
}