// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// ####################################
// ############ sessions/new ##########
// ####################################


.sessions-new {
	text-align: center;
	height: 100vh;
}

#info-container {
    min-height: 100vh;
    position: relative;
    width: 100% !important;
    min-width: 1000px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

section article {
	position:absolute;
	top:240px;
	left:40px;
	width:300px;
	z-index:4;
}

#info-container {
	background: red;
}

#info-container>div:nth-of-type(1) {
	background: url(/assets/geodeals_background.jpg) 10% 0 no-repeat fixed;
	margin-top: 0;
	height: 100vh;
	position: absolute;
	width: 100%;
}

.test-container {
	height: 100vh;
	width: 100%;
	background-color: white;
}

.test-container>div:nth-of-type(1) {
	background: url(/assets/geodeals_background2.jpg) 60% no-repeat fixed;
	margin-top: 0;
	height: 93%;
	position: absolute;
	width: 100%;
}

.signin-fields {
	float: left;
	clear: both;
}

#who-container {
	height: 200px;
	width: 800px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10%;
}

#who-container h1 {
	color: white;
}

.inner-wrap {
	height: 500px;
}

// ####################################
// ########## sessions/index ##########
// ####################################

// ############## nav #################

.fixed {
	.top-bar {
		.title-area {
			.sessions-index-title {
			}
		}
	}
	.top-bar-section {
		color: red;
		.right {
			.active {
		}
			.has-dropdown {
			.active-link-tbd {
			}
		}
			.left-nav-button {
			}
		}
	}
}

// ####################################
// ########## business_index ##########
// ####################################

.deals-container {
	border: 2px solid black;
	height: 400px;
	width: 400px;
	text-align: center;
}


// ####################################
// ############ user_index ############
// ####################################

#userListContainer {
	
	text-align: center;
	border: 1px solid white;
	box-shadow: 10px 0px 30px 6px #ccc;

}

















