// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// ####################################
// ############ sessions/new ##########
// ####################################

@font-face {
    font-family: 'intro_regular';
    src: url('/fonts/intro-webfont.eot');
    src: url('/fonts/intro-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/intro-webfont.woff2') format('woff2'),
         url('/fonts/intro-webfont.woff') format('woff'),
         url('/fonts/intro-webfont.ttf') format('truetype'),
         url('/fonts/intro-webfont.svg#intro_regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'hero_lightlight';
    src: url('/fonts/hero/hero_light-webfont.eot');
    src: url('/fonts/hero/hero_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/hero/hero_light-webfont.woff2') format('woff2'),
         url('/fonts/hero/hero_light-webfont.woff') format('woff'),
         url('/fonts/hero/hero_light-webfont.ttf') format('truetype'),
         url('/fonts/hero/hero_light-webfont.svg#hero_lightlight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'heroregular';
    src: url('/fonts/heroreg/hero-webfont.eot');
    src: url('/fonts/heroreg/hero-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/heroreg/hero-webfont.woff2') format('woff2'),
         url('/fonts/heroreg/hero-webfont.woff') format('woff'),
         url('/fonts/heroreg/hero-webfont.ttf') format('truetype'),
         url('/fonts/heroreg/hero-webfont.svg#heroregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.sessions-new {
	text-align: center;
	height: 100vh;
}

.sessions-header {
	height: 55%;
	width: 100%;
	background: url(/assets/new_work.jpg);
	background-size: cover;
	padding-top: 80px;
}

.header-content {
	position: relative;
	border-top: 10px solid white;
	border-bottom: 10px solid white;
}

.outline-inward {
  display: inline-block;
  position: relative;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.outline-inward:before {
  pointer-events: none;
  content: '';
  position: absolute;
  border: black solid 3px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.30s;
  -webkit-transition-property: top, right, bottom, left;
  transition-property: top, right, bottom, left;
}
.outline-inward:hover:before, .outline-inward:focus:before, .outline-inward:active:before {
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
  opacity: 1;
}

.header-content {
	width: 68%;
	height: 100%;
	margin-right: auto;
	margin-left: auto;
}

.video-container {
	position: fixed;
	left: 0;
	top: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
}

.header-content h1 {
	color: rgba(255, 69, 0, 0.65);
	font-size: 200px;
	font-family: intro_regular;
}


#info-container {
    min-height: 100vh;
    position: relative;
    width: 100% !important;
    min-width: 1000px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

h6 {
	margin-top: -150px;
	font-family: heroregular;
}

.arrow-wrap {
	position:absolute;
	z-index:1;
	left:50%;
	top:82%;
	margin-left:-5em;
	background:#111;
	width:10em;
	height:10em;
	padding:4em 2em;
	border-radius:50%;
	font-size:0.5em;
	display:block;
	box-shadow:0px 0px 5px 0px #333;
}

.arrow {
  float:left;
  position:relative;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 3em 3em 0 3em;
  border-color: rgba(255, 69, 0, 0.65) transparent transparent transparent;
  -webkit-transform:rotate(360deg);/* added for better anti-aliasing on webkit browsers */
}

.arrow:after {
  content:'';
  position:absolute;
  top:-3.2em;
  left:-3em;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 3em 3em 0 3em;
  border-color: #111 transparent transparent transparent;
  -webkit-transform:rotate(360deg);/* added for better anti-aliasing on webkit browsers */
}

@-webkit-keyframes arrows {
0% { top:0; }
10% { top:12%; }
20% { top:0; }
30% { top:12%; }
40% { top:-12%; }
50% { top:12%; }
60% { top:0; }
70% { top:12%; }
80% { top:-12%; }
90% { top:12%; }
100% { top:0; }
}

.arrow-wrap .arrow {
-webkit-animation: arrows 2.8s 0.4s infinite;
-webkit-animation-delay: 3s ;
}

section article {
	position:absolute;
	top:240px;
	left:40px;
	width:300px;
	z-index:4;
}

#info-container>div:nth-of-type(1) {
	background: url(/assets/geodeals_background.jpg) 10% 0 no-repeat fixed;
	background-size: cover;
	margin-top: 0;
	height: 100vh;
	position: absolute;
	width: 100%;
}

.test-container {
	height: 100vh;
	width: 100%;
	background-color: white;
}

.test-container>div:nth-of-type(1) {
	background: url(/assets/geodeals_background2.jpg) 60% no-repeat fixed;
	background-size: cover;
	margin-top: 0;
	height: 93%;
	position: absolute;
	width: 100%;
}

.signin-fields {
	clear: both;
	margin-top: 10px;
	margin-left: 63%;
}

#email-field {
	position: relative;
	margin-left: 75%;
}

#password-field {
	position: relative;
	margin-left: 75%;
}

.sign-up-link-button {
	
	position: relative;
	width: 150px;
	margin-left: 77%;
	font-family: heroregular;
}

#who-container {
	height: 200px;
	width: 800px;
	margin-left: 100px;
	margin-top: 10%;
}

.fields {
	text-align: center;
	position: relative;
	margin-top: 30px;
}

#what-container {
	height: 300px;
	width: 800px;
	margin-left: 100px;
	margin-top: 10%;
}

#what-container h1 {
	color: white;
}

#who-container h1 {
	color: white;
}

.inner-wrap {
	height: 500px;
}

.users-header {
	text-align: center;
}

.business-check-box {
	margin-left: 20%;
}

.signup-submit {
	height: 100px;
	width: 150px;
	position: relative;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

.new-deal-fields {
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

#deal-field1 {
	margin-left: 320px;
	position: relative;

}

#deal-field2 {
	margin-left: 340px;
	position: relative;

}

#deal-field3 {
	margin-left: 340px;
	position: relative;

}

#deal-field4 {
	margin-left: 340px;
	position: relative;

}

.submit-deal-button {

	width: 100px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

// ####################################
// ########## sessions/index ##########
// ####################################

// ############## nav #################

.fixed {
	.top-bar {
		.title-area {
			.sessions-index-title {
			}
		}
	}
	.top-bar-section {
		color: red;
		.right {
			.active {
		}
			.has-dropdown {
			.active-link-tbd {
			}
		}
			.left-nav-button {
			}
		}
	}
}

// ####################################
// ########## business_index ##########
// ####################################

.deals-container {
	background-color: blue;
 	box-shadow: 3px solid;
 	-webkit-box-shadow: 0px 10px 30px -1px rgba(0,0,0,1);
	-moz-box-shadow: inset 0px 10px 30px -1px rgba(0,0,0,1.00);
	box-shadow: 0px 10px 30px -1px rgba(0,0,0,1.0);
	margin-top: 20%;
	color: black;
	border: inset white 10px;
	position: relative;
	font-family: Raleway;
	height: 475px;
	width: 250px;
	text-align: center;

}

.deals-container2 {
	background-color: red;
 	box-shadow: 3px solid;
 	-webkit-box-shadow: 0px 10px 30px -1px rgba(0,0,0,1);
	-moz-box-shadow: inset 0px 10px 30px -1px rgba(0,0,0,1.00);
	box-shadow: 0px 10px 30px -1px rgba(0,0,0,1.0);
	margin-top: 20%;
	color: black;
	border: inset white 10px;
	position: relative;
	font-family: Raleway;
	height: 475px;
	width: 250px;
	text-align: center;

}

#deals {
			list-style: none;
		}

.blue {
	font-family: Halvetica;
	color: blue;
	margin-top: 30px;
}

.blue {
	font-family: Halvetica;
	color: blue;
	margin-top: 30px;
}
#deal-code{
	
}

#deal-fine {
	
}

#deal-start-date {
	
}

#deal-end-date {
	
}

#deal-start-time {
	
}

#deal-end-time {
	
}

// ####################################
// ########## business settings #######
// ####################################

.settings-header {
	font-size: 32px;
	font-family: Courier;
	margin-left: 12%;
	margin-top: 5.0%;
}

.business-owner-button {
	font-size: 32px;
	font-family: Courier;
	margin-left: 12%;
	margin-top: 2.5%;
}


div.border-line {
	background: black  no-repeat scroll center;
	margin-left: 12%;
	width: 18.5em;
	height: 2px;
}

div.hr hr {
	display: none;
}

.account-status {
	margin-left: 37%;
	font-size: 18px;
}

.something {
	display: block;
}

.formsfor {
	width: 300px;
}

.account-status-activation-note {
	font-size: 12px;
}


// ####################################
// ############ user_index ############
// ####################################

#userListContainer {
	
	text-align: center;
	border: 1px solid white;
	box-shadow: 10px 0px 30px 6px #ccc;

}





