// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// ####################################
// ############ sessions/new ##########
// ####################################

.sessions-new {
	.sessions-header {
		h1 {
		}
		h2 {
		}
	}
	.sessions-new-container {
		.sign-in {
			.new-session-forms {
			}
			.new-session-submit-button {
			}
			.sign-in-link-button {
			}
		}
	}
}

// ####################################
// ########## sessions/index ##########
// ####################################

// ############## nav #################

.fixed {
	.top-bar {
		.title-area {
			.sessions-index-title {
			}
		}
	}
	.top-bar-section {
		color: red;
		.right {
			.active {
		}
			.has-dropdown {
			.active-link-tbd {
			}
		}
			.left-nav-button {
			}
		}
	}
}

// ####################################
// ########## business_index ##########
// ####################################

.deals-container {
	color: black;
	
	position: relative;
	font-family: Raleway;
	height: 400px;
	width: 280px;
	text-align: center;
}

#deals {
			list-style: none;
		}


