// ####################################
// ############ users/new #############
// ####################################

.users-new {
	.users-header {
		h1 {
		}
		h2 {
		}
	}
	.users-new-container {
		.sign-up {
			.new-user-forms {
			}
			.new-user-submit-button {
			}
			.sign-up-link-button {
			}
		}
	}
}


#map {
	height: 605px;
	width: 950px;
	margin: 0 auto;
	border: 10px solid white;
	box-shadow: 0px 0px 40px 10px #ccc;
}

#centered {
	margin-top: 0px;
}

#dealmapTitle {
	text-align: center;
	font-weight: 600;
	margin-top: 37px;
	font-size: 43px;
}

.dealInfo {
	text-align: center;
	font-size: 27px;
}

#deets1 {
	font-size: 43px;
}

#myModal {
	background: url('http://media.giphy.com/media/kwMDAG298MtBS/giphy.gif');
	color: #ffffff !important;
	border: 7px solid white;
}


/* MEDIA QUERY BEGINS HERE */

@media (max-width: 800px) {

#map {
	height: 300px;
	width: 450px;
}

#dealmapTitle {
	text-align: center;
	margin-top: 40px;
	font-size: 27px;
}



}


