// ####################################
// ############ users/new #############
// ####################################

.users-new {
	.users-header {
		h1 {
		}
		h2 {
		}
	}
	.users-new-container {
		.sign-up {
			.new-user-forms {
			}
			.new-user-submit-button {
			}
			.sign-up-link-button {
			}
		}
	}
}


#map {
	height: 605px;
	width: 900px;
	margin: 0 auto;
	border: 1px solid white;
	box-shadow: 0px 0px 40px 10px #ccc;
}

#centered {
	margin-top: 0px;
}

#dealmapTitle {
	text-align: center;
	font-family: heroregular;
	margin-top: 37px;
	font-size: 42px;
}

.dealInfo {
	text-align: center;
	font-size: 23px;
}

.dealVicinity {
	font-family: heroregular;
	font-size: 18px;
	text-align: center;
}

#deets1 {
	font-size: 28px;
	font-family: heroregular;
	text-decoration: underline;
}

#deets2 {
	font-size: 16px;
	font-family: heroregular;
}

#deets3 {
	font-size: 22px;
	font-family: heroregular;
}

#deets4 {
	font-size: 12px;
	font-family: heroregular;
}

#deets5 {
	font-size: 18px;
	font-family: heroregular;
}

#myModal {
	color: black;
	font-family: heroregular;
	border: 7px solid #222;
}

.user-welcome {
	text-align: center;
}


/* MEDIA QUERY BEGINS HERE */

	@media (max-width: 800px) {

	#map {
		height: 350px;
		width: 500px;
		border: 1px solid white;
	}

	#dealmapTitle {
		text-align: center;
		margin-top: 40px;
		font-size: 27px;
	}

	#dealmapTitle {
		display: none;
	}

	.location-button {
		text-align: center;
	}

	#myModal {
	width: 60% !important;
	height:100px !important;
	margin: auto !important;
	font-size: 7px !important;
}

}
