<div class="fixed nav-div">
<nav class="top-bar nav-top-bar" data-topbar role="navigation">
  <ul class="title-area nav-bar-title">
    <li class="name sessions-index-title">
      <h1><a href="/sessions/business_index">GeoDeals</a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="active add-deal"><%= link_to "Add a Deal", deal_new_path(current_user.business_id) %></li>
      <li class="has-dropdown">
        <a href="#">User Mode</a>
        <ul class="dropdown">
          <li class="active"><%= link_to "User", sessions_path(current_user) %></a></li>
          <li class="active add-deal"><%= link_to "My Business", business_index_path(current_user.business_id) %></a></li>
        </ul>
      </li>
      <li class="active add-deal"></a></li>
      <li class="has-dropdown">
        <a href="#">Account</a>
        <ul class="dropdown">
          <li class="active add-deal"><%= link_to "Log Out", sessions_path, method: :delete %></a></li>
        </ul>
      </li>
    </ul>
  </section>
</nav>
</div>

