<% if @user.business_owner == true %>
	<%= render 'layouts/businessnav' %>
	<%= render 'layouts/businessowner' %>
<% else %>
	<p> Sorry, you must be a business owner in order to view this page </p>
<% end %>